Service References/ComparisonService/ComparisonTasks.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ComparisonTasks" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60716/ComparisonOperations/ComparisonTasks.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60716/ComparisonOperations/ComparisonTasks.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComparisonTasks_CovertParas_InputMessage">
    <wsdl:part name="parameters" element="tns:CovertParas" />
  </wsdl:message>
  <wsdl:message name="IComparisonTasks_CovertParas_OutputMessage">
    <wsdl:part name="parameters" element="tns:CovertParasResponse" />
  </wsdl:message>
  <wsdl:message name="IComparisonTasks_SaveText_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveText" />
  </wsdl:message>
  <wsdl:message name="IComparisonTasks_SaveText_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTextResponse" />
  </wsdl:message>
  <wsdl:message name="IComparisonTasks_AddSection_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSection" />
  </wsdl:message>
  <wsdl:message name="IComparisonTasks_AddSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSectionResponse" />
  </wsdl:message>
  <wsdl:message name="IComparisonTasks_SplitOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:SplitOperation" />
  </wsdl:message>
  <wsdl:message name="IComparisonTasks_SplitOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SplitOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IComparisonTasks_MergeOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:MergeOperation" />
  </wsdl:message>
  <wsdl:message name="IComparisonTasks_MergeOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MergeOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IComparisonTasks_AddLevels_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLevels" />
  </wsdl:message>
  <wsdl:message name="IComparisonTasks_AddLevels_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLevelsResponse" />
  </wsdl:message>
  <wsdl:portType name="IComparisonTasks">
    <wsdl:operation name="CovertParas">
      <wsdl:input wsaw:Action="http://tempuri.org/IComparisonTasks/CovertParas" message="tns:IComparisonTasks_CovertParas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComparisonTasks/CovertParasResponse" message="tns:IComparisonTasks_CovertParas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveText">
      <wsdl:input wsaw:Action="http://tempuri.org/IComparisonTasks/SaveText" message="tns:IComparisonTasks_SaveText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComparisonTasks/SaveTextResponse" message="tns:IComparisonTasks_SaveText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSection">
      <wsdl:input wsaw:Action="http://tempuri.org/IComparisonTasks/AddSection" message="tns:IComparisonTasks_AddSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComparisonTasks/AddSectionResponse" message="tns:IComparisonTasks_AddSection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SplitOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IComparisonTasks/SplitOperation" message="tns:IComparisonTasks_SplitOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComparisonTasks/SplitOperationResponse" message="tns:IComparisonTasks_SplitOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MergeOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IComparisonTasks/MergeOperation" message="tns:IComparisonTasks_MergeOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComparisonTasks/MergeOperationResponse" message="tns:IComparisonTasks_MergeOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLevels">
      <wsdl:input wsaw:Action="http://tempuri.org/IComparisonTasks/AddLevels" message="tns:IComparisonTasks_AddLevels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComparisonTasks/AddLevelsResponse" message="tns:IComparisonTasks_AddLevels_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IComparisonTasks" type="tns:IComparisonTasks">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CovertParas">
      <soap:operation soapAction="http://tempuri.org/IComparisonTasks/CovertParas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveText">
      <soap:operation soapAction="http://tempuri.org/IComparisonTasks/SaveText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSection">
      <soap:operation soapAction="http://tempuri.org/IComparisonTasks/AddSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SplitOperation">
      <soap:operation soapAction="http://tempuri.org/IComparisonTasks/SplitOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeOperation">
      <soap:operation soapAction="http://tempuri.org/IComparisonTasks/MergeOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLevels">
      <soap:operation soapAction="http://tempuri.org/IComparisonTasks/AddLevels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComparisonTasks">
    <wsdl:port name="BasicHttpBinding_IComparisonTasks" binding="tns:BasicHttpBinding_IComparisonTasks">
      <soap:address location="http://localhost:60716/ComparisonOperations/ComparisonTasks.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>