Web References/AutoTableDetection/AutoTableDetection.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AutoDetectTables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filesSavingPath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cbxAlgo1" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="cbxAlgo2" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="cbxAlgo3" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoDetectTablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AutoDetectTablesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutoDetectTablesSoapIn">
    <wsdl:part name="parameters" element="tns:AutoDetectTables" />
  </wsdl:message>
  <wsdl:message name="AutoDetectTablesSoapOut">
    <wsdl:part name="parameters" element="tns:AutoDetectTablesResponse" />
  </wsdl:message>
  <wsdl:portType name="AutoTableDetectionSoap">
    <wsdl:operation name="AutoDetectTables">
      <wsdl:input message="tns:AutoDetectTablesSoapIn" />
      <wsdl:output message="tns:AutoDetectTablesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoTableDetectionSoap" type="tns:AutoTableDetectionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutoDetectTables">
      <soap:operation soapAction="http://tempuri.org/AutoDetectTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutoTableDetectionSoap12" type="tns:AutoTableDetectionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutoDetectTables">
      <soap12:operation soapAction="http://tempuri.org/AutoDetectTables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoTableDetection">
    <wsdl:port name="AutoTableDetectionSoap" binding="tns:AutoTableDetectionSoap">
      <soap:address location="http://localhost:48750/AutoTableDetection.asmx" />
    </wsdl:port>
    <wsdl:port name="AutoTableDetectionSoap12" binding="tns:AutoTableDetectionSoap12">
      <soap12:address location="http://localhost:48750/AutoTableDetection.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>