Web References/Index_Service/IndexService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidateIndexFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xlsPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateIndexFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateIndexFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttachRHYWIndex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rhywFile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xlsFile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AttachRHYWIndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AttachRHYWIndexResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateIndexFileSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateIndexFile" />
  </wsdl:message>
  <wsdl:message name="ValidateIndexFileSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateIndexFileResponse" />
  </wsdl:message>
  <wsdl:message name="AttachRHYWIndexSoapIn">
    <wsdl:part name="parameters" element="tns:AttachRHYWIndex" />
  </wsdl:message>
  <wsdl:message name="AttachRHYWIndexSoapOut">
    <wsdl:part name="parameters" element="tns:AttachRHYWIndexResponse" />
  </wsdl:message>
  <wsdl:portType name="IndexServiceSoap">
    <wsdl:operation name="ValidateIndexFile">
      <wsdl:input message="tns:ValidateIndexFileSoapIn" />
      <wsdl:output message="tns:ValidateIndexFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AttachRHYWIndex">
      <wsdl:input message="tns:AttachRHYWIndexSoapIn" />
      <wsdl:output message="tns:AttachRHYWIndexSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IndexServiceSoap" type="tns:IndexServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateIndexFile">
      <soap:operation soapAction="http://tempuri.org/ValidateIndexFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachRHYWIndex">
      <soap:operation soapAction="http://tempuri.org/AttachRHYWIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IndexServiceSoap12" type="tns:IndexServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateIndexFile">
      <soap12:operation soapAction="http://tempuri.org/ValidateIndexFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachRHYWIndex">
      <soap12:operation soapAction="http://tempuri.org/AttachRHYWIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IndexService">
    <wsdl:port name="IndexServiceSoap" binding="tns:IndexServiceSoap">
      <soap:address location="http://localhost:42226/old/IndexService.asmx" />
    </wsdl:port>
    <wsdl:port name="IndexServiceSoap12" binding="tns:IndexServiceSoap12">
      <soap12:address location="http://localhost:42226/old/IndexService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>