Web References/MailService1/MailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sTo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sCC" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sBCC" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBody" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mailFormat" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="useLiveAccount" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPendingMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sFromName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sFromAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromUserAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromAddressPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sTo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sCC" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sBCC" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBody" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mailFormat" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="useLiveAccount" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="context" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPendingMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendPendingMailResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sTo" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="sCC" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="sBCC" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="sSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBody" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mailFormat" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="useLiveAccount" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendEMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendEMailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendPendingMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendPendingMail" />
  </wsdl:message>
  <wsdl:message name="SendPendingMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendPendingMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendEMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEMail" />
  </wsdl:message>
  <wsdl:message name="SendEMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEMailResponse" />
  </wsdl:message>
  <wsdl:portType name="MailServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:SendMailSoapIn" />
      <wsdl:output message="tns:SendMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPendingMail">
      <wsdl:input message="tns:SendPendingMailSoapIn" />
      <wsdl:output message="tns:SendPendingMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEMail">
      <wsdl:input message="tns:SendEMailSoapIn" />
      <wsdl:output message="tns:SendEMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailServiceSoap" type="tns:MailServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap:operation soapAction="http://tempuri.org/SendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPendingMail">
      <soap:operation soapAction="http://tempuri.org/SendPendingMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEMail">
      <soap:operation soapAction="http://tempuri.org/SendEMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailServiceSoap12" type="tns:MailServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://tempuri.org/SendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPendingMail">
      <soap12:operation soapAction="http://tempuri.org/SendPendingMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEMail">
      <soap12:operation soapAction="http://tempuri.org/SendEMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailService">
    <wsdl:port name="MailServiceSoap" binding="tns:MailServiceSoap">
      <soap:address location="http://192.168.0.42:28742/RHYWEMailService/MailService.asmx" />
    </wsdl:port>
    <wsdl:port name="MailServiceSoap12" binding="tns:MailServiceSoap12">
      <soap12:address location="http://192.168.0.42:28742/RHYWEMailService/MailService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>