Web References/BookMicroOcrService1/GetOcrText.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTextandXMLFromImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="imgBytes" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="totalPages" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="filetype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTextandXMLFromImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTextandXMLFromImageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTextandXMLFromImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetTextandXMLFromImage" />
  </wsdl:message>
  <wsdl:message name="GetTextandXMLFromImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetTextandXMLFromImageResponse" />
  </wsdl:message>
  <wsdl:portType name="GetOcrTextSoap">
    <wsdl:operation name="GetTextandXMLFromImage">
      <wsdl:input message="tns:GetTextandXMLFromImageSoapIn" />
      <wsdl:output message="tns:GetTextandXMLFromImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetOcrTextSoap" type="tns:GetOcrTextSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTextandXMLFromImage">
      <soap:operation soapAction="http://tempuri.org/GetTextandXMLFromImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetOcrTextSoap12" type="tns:GetOcrTextSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTextandXMLFromImage">
      <soap12:operation soapAction="http://tempuri.org/GetTextandXMLFromImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetOcrText">
    <wsdl:port name="GetOcrTextSoap" binding="tns:GetOcrTextSoap">
      <soap:address location="http://54.179.106.237/BookMicroOcrService/GetOcrText.asmx" />
    </wsdl:port>
    <wsdl:port name="GetOcrTextSoap12" binding="tns:GetOcrTextSoap12">
      <soap12:address location="http://54.179.106.237/BookMicroOcrService/GetOcrText.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>